/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.random-picker-warn {
	color: red;
}

.random-picker-template-setting {
	border-top: 0;
}

.random-picker-template-separator {
	margin: 0 0 1em 0;
}

.random-picker-full {
	width: 100%;
}